* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #545454;
  background-color: azure;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;

  height: 100vh;
}

.textarea {
  width: 700px;
  resize: none;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;

  border-bottom: 5px solid #b4c7df;
  border-right: 5px solid #9aaabe;
  border-left: 5px solid #8896a7;
  border-top: 5px solid #535d67;
  border-radius: 10px;

  padding: 20px;
  margin-bottom: 20px;

  outline: none;
}

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: whitesmoke;
  background-color: #535c67;

  border-top: 5px solid #b4c7df;
  border-left: 5px solid #8897a9;
  border-right: 5px solid #454d56;
  border-bottom: 7px solid #212529;
  border-radius: 10px;

  // min-width: 700px;
  padding: 20px;

  &__line {
    display: flex;
    justify-content: space-between;
    // gap: 7px;

    width: 650px;
  }

  &__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-top: 2px solid #9fb4cb;
    border-left: 2px solid #96abbf;
    border-right: 2px solid #55616d;
    border-bottom: 2px solid #2f363d;
    background-color: #708090;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

    width: 35px;
    height: 35px;

    cursor: pointer;

    transition: all 0.05s;

    &:hover {
      background-color: rgb(125, 176, 208);
      box-shadow: 0 0 10px rgba(125, 176, 208, 0.3);
    }
  }
}

.btn {
  &__backspace {
    width: 90px;
  }
  &__caps {
    width: 90px;
  }

  &__shift-l {
    width: 115px;
  }

  &__shift-r {
    width: 40px;
  }

  &__tab {
    width: 55px;
  }

  &__del {
    width: 45px;
  }

  &__enter {
    width: 90px;
  }

  &__ctrl {
    width: 50px;
  }

  &__win,
  &__alt {
    width: 40px;
  }

  &__space {
    width: 245px;
  }

  &__arr-up {
    width: 40px;
  }

  &__arr {
    width: 40px;
  }
  &__arr-up {
    background-image: url('img/arr-up.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__arr-left {
    background-image: url('img/arr-left.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__arr-down {
    background-image: url('img/arr-down.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__arr-right {
    background-image: url('img/arr-right.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
